#!/usr/bin/make -f

#export DH_VERBOSE=1
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/upstream-tarball.mk
include /usr/share/cdbs/1/rules/utils.mk

# Class for handling plain make
include /usr/share/cdbs/1/class/makefile.mk

pkg = surf

CDBS_BUILD_DEPENDS += , libgtk2.0-dev, libwebkitgtk-dev, pkg-config
CDBS_DEPENDS_$(pkg) += , suckless-tools, x11-utils, stterm, curl

clean::
	rm -rf config.h


